@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "berlin", "berlin Fallback";
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #cbd6eb;
  color: #181520;
}
.footer {
  padding: 10px 0px;
}
.social_icons {
  font-size: 20px;
  cursor: pointer;
}
.s_icon {
  transition: all 0.3s ease;
}
.social_icons:hover .s_icon {
  color: #9c1f0e;
}
.nav_items {
  color: #181520;
  transition: all 0.3s ease;
  padding: 3px 10px;
}
.nav_items:hover {
  color: #9c1f0e;
  background-color: #d7b861;
  border-radius: 15px 0px 15px 0px;
}
.mobile_nav_items {
  color: #181520;
  transition: all 0.3s ease;
}
.mobile_nav_items:hover {
  color: #9c1f0e;
}
.top_up {
  animation: bounceFade 3s ease-in-out infinite;
}

@keyframes bounceFade {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-40px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.mobile_view {
  display: none;
}

@media (max-width: 1026px) {
  .desktop_view {
    display: none;
  }
  .mobile_view {
    display: block;
  }
}

.universal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.universal_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixed_width {
  width: 100%;
  max-width: 1280px;
}

.title1 {
  font-weight: bold;
  color: #9c1f0e;
}
::selection {
  background: #9c1f0e;
  color: rgb(2, 2, 2);
}

.baton {
  padding: 4px 15px;
  position: relative;
}
button {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.bordersy {
  width: 10px;
  height: 2px;
  background-color: #9c1f0e;
  transition: all 0.3s ease;
}
.baton:hover .bordersy {
  width: 46%;
}
.bordersx {
  height: 10px;
  width: 2px;
  background-color: #9c1f0e;
  transition: all 0.3s ease;
}
.baton:hover .bordersx {
  height: 50%;
}
.perspective-1000 {
  perspective: 1000px;
}
