@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "berlin", "berlin Fallback";
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #cbd6eb;
  color: #181520;
}
.footer {
  padding: 10px 0px;
}
.social_icons {
  font-size: 20px;
  cursor: pointer;
}
.s_icon {
  transition: all 0.3s ease;
}
.social_icons:hover .s_icon {
  color: #9c1f0e;
}
.nav_items {
  color: #181520;
  transition: 0.3s all ease;
}
.nav_items:hover {
  color: #9c1f0e;
}
.nav_ul li {
  position: relative;
  border: 1px solid rgba(255, 0, 0, 0);
}
.nav_ul li .li_hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #4e4e4e;
  transition: all 0.3s ease;
}
.nav_ul li:hover .li_hover {
  width: 100%;
}
.active_li {
  width: 100% !important;
  color: #9c1f0e;
}

.mobile_nav_items {
  color: #181520;
  transition: all 0.3s ease;
  border-radius: 50%;
  padding: 5px;
}
.mobile_nav_items:hover {
  color: #9c1f0e;
  border-top: 1px solid red;
}
.mobile_nav_items_active {
  color: #9c1f0e;
}

.mobile_icon_menu {
  transform-origin: bottom;
}
.top_up {
  animation: bounceFade 3s ease-in-out infinite;
}

@keyframes bounceFade {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-40px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.mobile_view {
  display: none;
}

@media (max-width: 1026px) {
  .desktop_view {
    display: none;
  }
  .mobile_view {
    display: block;
  }
}

.universal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.universal_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixed_width {
  width: 100%;
  max-width: 1280px;
}

.title1 {
  font-weight: bold;
  color: #9c1f0e;
}
::selection {
  background: #9c1f0e;
  color: rgb(2, 2, 2);
}

.baton {
  padding: 4px 15px;
  position: relative;
}
button {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.bordersy {
  width: 10px;
  height: 2px;
  background-color: #9c1f0e;
  transition: all 0.3s ease;
}
.baton:hover .bordersy {
  width: 46%;
}
.bordersx {
  height: 10px;
  width: 2px;
  background-color: #9c1f0e;
  transition: all 0.3s ease;
}
.baton:hover .bordersx {
  height: 50%;
}
.perspective-1000 {
  perspective: 1000px;
}


/* contact page css */


.cntleft {
-webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
}

.cntright {
-webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
}

.cntfrmcrd:hover .cntleft {
  -webkit-transform: rotatey(-85deg);
  -ms-transform: rotatey(-85deg);
  transform: rotatey(-85deg);

}
.cntfrmcrd:hover .cntright {
  transform: translateX(80px);
}
@media only screen and (max-width: 768px) {
  .cntfrmcrd:hover .cntright {
  transform: translateX(40px);
}
}
@media only screen and (max-width: 500px) {
  .cntfrmcrd:hover .cntright {
  transform: translateX(40px);
}
}
@media only screen and (max-width: 400px) {
  .cntfrmcrd:hover .cntright {
  transform: translateX(20px);
}
}

.cntfrmcrd:hover .msgus {
  opacity: 1;
}

