@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "berlin", "berlin Fallback";
}
/* ::-webkit-scrollbar {
  display: none;
} */
body {
  background-color: #f1e3a4;
  color: #181520;
}
.footer {
  padding: 10px 0px;
}
.social_icons {
  font-size: 20px;
  cursor: pointer;
}
.s_icon {
  transition: all 0.3s ease;
}
.social_icons:hover .s_icon {
  color: #9c1f0e;
}
.nav_items {
  color: #ffffff;
  transition: 0.3s all ease;
}
.nav_items:hover {
  color: #9c1f0e;
}
.nav_ul li {
  position: relative;
  border: 1px solid rgba(255, 0, 0, 0);
}
.nav_ul li .li_hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #9c1f0e;
  transition: all 0.3s ease;
}
.nav_ul li:hover .li_hover {
  width: 100%;
}
.active_li {
  width: 100% !important;
  color: #9c1f0e;
}

.mobile_nav_items {
  position: relative;
  color: #9c1f0e;
  transition: all 0.3s ease;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile_nav_items:hover {
  color: #ffffff;
}
.menu_name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s all ease;
}
.menu_name_active {
  display: none;
  transition: 0.3s all ease;
}
.mobile_nav_items_active {
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.mobile_icon_menu {
  transform-origin: bottom;
}
.top_up {
  animation: bounceFade 3s ease-in-out infinite;
}

@keyframes bounceFade {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-40px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.mobile_view {
  display: none;
}

@media (max-width: 1026px) {
  .desktop_view {
    display: none;
  }
  .mobile_view {
    display: block;
  }
}

.universal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.universal_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixed_width {
  width: 100%;
  max-width: 1280px;
  overflow: hidden;
}

.title1 {
  font-weight: bold;
  color: #9c1f0e;
}
::selection {
  background: #9c1f0e;
  color: rgb(2, 2, 2);
}

.baton {
  padding: 4px 15px;
  position: relative;
  border: 2px solid #9c1f0e;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.baton:hover {
  color: #9c1f0e;
  border: 2px solid #0a152f;
}
button {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.bordersy {
  width: 10px;
  height: 2px;
  background-color: #9c1f0e;
  transition: all 0.3s ease;
}
.baton:hover .bordersy {
  background-color: #0a152f;
}
.bordersx {
  height: 10px;
  width: 2px;
  background-color: #9c1f0e;
  transition: all 0.3s ease;
}
.baton:hover .bordersx {
  background-color: #0a152f;
}
.perspective-1000 {
  perspective: 1000px;
}

/* neo button design */
/* From Uiverse.io by adamgiebl */
.neu-button {
  background-color: #0a152f;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #0a152f, inset -4px -4px 10px #465b8c;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 20px;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
  border: 2px solid #0a152f;
}
@media (max-width: 420px) {
  .neu-button {
    font-size: 14px;
    padding: 4px 15px;
  }
}
@media (max-width: 370px) {
  .neu-button {
    letter-spacing: 0px;
    padding: 4px 10px;
  }
}

.neu-button:hover {
  box-shadow: inset 2px 2px 5px #0a152f, inset -2px -2px 5px #465b8c,
    2px 2px 5px #0a152f, -2px -2px 5px #465b8c;
}

.neu-button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #0a152f, inset -2px -2px 5px #465b8c,
    2px 2px 5px #0a152f, -2px -2px 5px #465b8c;
}

/* project css */

@media (max-width: 348px) {
  .m_mail {
    font-size: 12px;
  }
}