@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
.footer {
  padding: 10px 0px;
}
.social_icons {
  font-size: 20px;
  cursor: pointer;
}
.s_icon {
  color: white;
  transition: all 0.3s ease;
}