/* Cover rotate animation */
@keyframes coverRotate {
  0% {
    transform: rotateY(0deg) translateZ(0);
  }
  100% {
    transform: rotateY(-75deg) translateZ(1px);
  }
}
.animate-coverRotate {
  animation: coverRotate 0.7s ease forwards;
}

/* Inner show animation */
@keyframes innerShow {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(70px);
    opacity: 1;
  }
}
.animate-innerShow {
  animation: innerShow 0.8s ease forwards;
  animation-delay: 0.4s;
  transform: translateZ(-2px);
}

/* Title from right */
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-fadeRight {
  animation: fadeRight 0.8s ease forwards;
  animation-delay: 0.8s;
}

/* Description from bottom */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeUp {
  animation: fadeUp 0.9s ease forwards;
  animation-delay: 1s;
}
