.sliderr {
  position: relative;
  width: 100%;
  height: 300px;
}
.rvw-box {
    z-index: 9999;
}
.itemms {
  position: absolute;
  width: 250px;
  height: fit-content;
  background-color: #76767679;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  padding: 10px;
  transition: 0.5s;
  left: calc(50% - 125px);
  top: 0;
  text-align: center;
}
#prevt,
#nextt {
  color: #3d3d3d;
  background: none;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity 0.5s;
  width: 50px;
}
#prevt:hover,
#nextt:hover {
  opacity: 1;
} 